<div th:fragment="header_admin">
	
	<div class="container-fluid fh5co_header_bg">
		<div class="container">
			<div class="row">
				<div class="col-16 fh5co_mediya_center" style="margin-right: 10px">
					<a href="#" class="color_fff fh5co_mediya_setting">
						<i class="fa fa-clock-o" style="font-size: 24px;"></i>&nbsp;
						<span th:text="${session.currentDate}"></span><br>
					</a>
				</div>
				<div class="col-16 fh5co_mediya_center" style="margin-right: 10px">
					<a href="#" class="color_fff fh5co_mediya_setting">
						<i class="fa fa-cog fa-fw" style="font-size: 24px;"></i>
						<span>Admin mode</span><br>
					</a>
				</div>
				<div class="col-16 fh5co_mediya_center" style="margin-right: 10px">
					<a th:href="@{/user/users}" class="color_fff fh5co_mediya_setting">
						<i class="fa fa-users" style="font-size: 24px;"></i>
						<span>Users</span><br>
					</a>
				</div>
				<div class="col-16 fh5co_mediya_center" style="margin-right: 10px">
					<a th:href="@{/article/create}" class="color_fff fh5co_mediya_setting">
						<i class="fa fa-pencil" style="font-size: 24px;"></i>
						<span>Create new post</span><br>
					</a>
				</div>
				<div class="col-16 fh5co_mediya_center" style="margin-right: 10px">
					<a th:href="@{/article/articles}" class="color_fff fh5co_mediya_setting">
						<i class="fa fa-file-text-o" style="font-size: 24px;"></i>
						<span>Articles</span><br>
					</a>
				</div>
				<div class="col-16 fh5co_mediya_center" style="margin-right: 10px">
					<a th:href="@{/logout}" class="color_fff fh5co_mediya_setting">
						<i class="fa fa-sign-out" style="font-size: 24px;"></i>
						<span>Logout</span><br>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-3 fh5co_padding_menu">
					<img src="/images/logo.png" alt="img" class="fh5co_logo_width"/>
				</div>
				<div class="col-12 col-md-9 align-self-center fh5co_mediya_right">
					<div class="text-center d-inline-block">
						<a class="fh5co_display_table">
							<div class="fh5co_verticle_middle"><i class="fa fa-search"></i></div>
						</a>
					</div>
					<div class="text-center d-inline-block">
						<a class="fh5co_display_table">
							<div class="fh5co_verticle_middle"><i class="fa fa-linkedin"></i></div>
						</a>
					</div>
					<div class="text-center d-inline-block">
						<a class="fh5co_display_table">
							<div class="fh5co_verticle_middle"><i class="fa fa-google-plus"></i></div>
						</a>
					</div>
					<div class="text-center d-inline-block">
						<a href="https://twitter.com/fh5co" target="_blank" class="fh5co_display_table">
							<div class="fh5co_verticle_middle"><i class="fa fa-twitter"></i></div>
						</a>
					</div>
					<div class="text-center d-inline-block">
						<a href="https://fb.com/fh5co" target="_blank" class="fh5co_display_table">
							<div class="fh5co_verticle_middle"><i class="fa fa-facebook"></i></div>
						</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid bg-faded fh5co_padd_mediya padding_786">
		<div class="container padding_786">
			<nav class="navbar navbar-toggleable-md navbar-light ">
				<button class="navbar-toggler navbar-toggler-right mt-3" type="button" data-toggle="collapse"
				        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				        aria-expanded="false"
				        aria-label="Toggle navigation">
					<span class="fa fa-bars"></span>
				</button>
				<a class="navbar-brand" href="#">
					<img src="images/logo.png" alt="img" class="mobile_logo_width"/></a>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active" th:if="${session.position == 'home'}">
							<a class="nav-link" th:href="@{/home}">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item" th:if="${session.position != 'home'}">
							<a class="nav-link" th:href="@{/home}">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item active" th:if="${session.position == 'blog'}">
							<a class="nav-link" th:href="@{/blog}">Blog <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item " th:if="${session.position != 'blog'}">
							<a class="nav-link" th:href="@{/blog}">Blog <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item active " th:if="${session.position == 'contact'}">
							<a class="nav-link" th:href="@{/contact}">Contact <span
									class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item " th:if="${session.position != 'contact'}">
							<a class="nav-link" th:href="@{/contact}">Contact <span
									class="sr-only">(current)</span></a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
</div>

<div th:fragment="header_writer">
	
	<div class="container-fluid fh5co_header_bg">
		<div class="container">
			<div class="row">
				<div class="col-16 fh5co_mediya_center" style="margin-right: 10px">
					<a href="#" class="color_fff fh5co_mediya_setting">
						<i class="fa fa-clock-o" style="font-size: 24px;"></i>&nbsp;
						<span th:text="${session.currentDate}"></span><br>
					</a>
				</div>
				<div class="col-16 fh5co_mediya_center" style="margin-right: 10px">
					<a href="#" class="color_fff fh5co_mediya_setting">
						<i class="fa fa-cog fa-fw" style="font-size: 24px;"></i>
						<span>Admin mode</span><br>
					</a>
				</div>
				<div class="col-16 fh5co_mediya_center" style="margin-right: 10px">
					<a th:href="@{/article/create}" class="color_fff fh5co_mediya_setting">
						<i class="fa fa-pencil" style="font-size: 24px;"></i>
						<span>Create new post</span><br>
					</a>
				</div>
				<div class="col-16 fh5co_mediya_center" style="margin-right: 10px">
					<a th:href="@{/article/articles}" class="color_fff fh5co_mediya_setting">
						<i class="fa fa-file-text-o" style="font-size: 24px;"></i>
						<span>Articles</span><br>
					</a>
				</div>
				<div class="col-16 fh5co_mediya_center" style="margin-right: 10px">
					<a th:href="@{/logout}" class="color_fff fh5co_mediya_setting">
						<i class="fa fa-sign-out" style="font-size: 24px;"></i>
						<span>Logout</span><br>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-3 fh5co_padding_menu">
					<img src="/images/logo.png" alt="img" class="fh5co_logo_width"/>
				</div>
				<div class="col-12 col-md-9 align-self-center fh5co_mediya_right">
					<div class="text-center d-inline-block">
						<a class="fh5co_display_table">
							<div class="fh5co_verticle_middle"><i class="fa fa-search"></i></div>
						</a>
					</div>
					<div class="text-center d-inline-block">
						<a class="fh5co_display_table">
							<div class="fh5co_verticle_middle"><i class="fa fa-linkedin"></i></div>
						</a>
					</div>
					<div class="text-center d-inline-block">
						<a class="fh5co_display_table">
							<div class="fh5co_verticle_middle"><i class="fa fa-google-plus"></i></div>
						</a>
					</div>
					<div class="text-center d-inline-block">
						<a href="https://twitter.com/fh5co" target="_blank" class="fh5co_display_table">
							<div class="fh5co_verticle_middle"><i class="fa fa-twitter"></i></div>
						</a>
					</div>
					<div class="text-center d-inline-block">
						<a href="https://fb.com/fh5co" target="_blank" class="fh5co_display_table">
							<div class="fh5co_verticle_middle"><i class="fa fa-facebook"></i></div>
						</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid bg-faded fh5co_padd_mediya padding_786">
		<div class="container padding_786">
			<nav class="navbar navbar-toggleable-md navbar-light ">
				<button class="navbar-toggler navbar-toggler-right mt-3" type="button" data-toggle="collapse"
				        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				        aria-expanded="false"
				        aria-label="Toggle navigation">
					<span class="fa fa-bars"></span>
				</button>
				<a class="navbar-brand" href="#">
					<img src="images/logo.png" alt="img" class="mobile_logo_width"/></a>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active" th:if="${session.position == 'home'}">
							<a class="nav-link" th:href="@{/home}">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item" th:if="${session.position != 'home'}">
							<a class="nav-link" th:href="@{/home}">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item active" th:if="${session.position == 'blog'}">
							<a class="nav-link" th:href="@{/blog}">Blog <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item " th:if="${session.position != 'blog'}">
							<a class="nav-link" th:href="@{/blog}">Blog <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item active " th:if="${session.position == 'contact'}">
							<a class="nav-link" th:href="@{/contact}">Contact <span
									class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item " th:if="${session.position != 'contact'}">
							<a class="nav-link" th:href="@{/contact}">Contact <span
									class="sr-only">(current)</span></a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
</div>

<div th:fragment="header_user">
	
	<div class="container-fluid fh5co_header_bg">
		<div class="container">
			<div class="row">
				<div class="col-16 fh5co_mediya_center" style="margin-right: 10px">
					<a href="#" class="color_fff fh5co_mediya_setting">
						<i class="fa fa-clock-o" style="font-size: 24px;"></i>&nbsp;
						<span th:text="${session.currentDate}"></span><br>
					</a>
				</div>
				<div class="col-16 fh5co_mediya_center" style="margin-right: 10px">
					<a th:href="@{/login}" class="color_fff fh5co_mediya_setting">
						<i class="fa fa-sign-in" style="font-size: 24px;"></i>
						<span>Login</span><br>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-3 fh5co_padding_menu">
					<img src="/images/logo.png" alt="img" class="fh5co_logo_width"/>
				</div>
				<div class="col-12 col-md-9 align-self-center fh5co_mediya_right">
					<div class="text-center d-inline-block">
						<a class="fh5co_display_table">
							<div class="fh5co_verticle_middle"><i class="fa fa-search"></i></div>
						</a>
					</div>
					<div class="text-center d-inline-block">
						<a class="fh5co_display_table">
							<div class="fh5co_verticle_middle"><i class="fa fa-linkedin"></i></div>
						</a>
					</div>
					<div class="text-center d-inline-block">
						<a class="fh5co_display_table">
							<div class="fh5co_verticle_middle"><i class="fa fa-google-plus"></i></div>
						</a>
					</div>
					<div class="text-center d-inline-block">
						<a href="https://twitter.com/fh5co" target="_blank" class="fh5co_display_table">
							<div class="fh5co_verticle_middle"><i class="fa fa-twitter"></i></div>
						</a>
					</div>
					<div class="text-center d-inline-block">
						<a href="https://fb.com/fh5co" target="_blank" class="fh5co_display_table">
							<div class="fh5co_verticle_middle"><i class="fa fa-facebook"></i></div>
						</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid bg-faded fh5co_padd_mediya padding_786">
		<div class="container padding_786">
			<nav class="navbar navbar-toggleable-md navbar-light ">
				<button class="navbar-toggler navbar-toggler-right mt-3" type="button" data-toggle="collapse"
				        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				        aria-expanded="false"
				        aria-label="Toggle navigation">
					<span class="fa fa-bars"></span>
				</button>
				<a class="navbar-brand" href="#">
					<img src="images/logo.png" alt="img" class="mobile_logo_width"/></a>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active" th:if="${session.position == 'home'}">
							<a class="nav-link" th:href="@{/home}">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item" th:if="${session.position != 'home'}">
							<a class="nav-link" th:href="@{/home}">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item active" th:if="${session.position == 'blog'}">
							<a class="nav-link" th:href="@{/blog}">Blog <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item " th:if="${session.position != 'blog'}">
							<a class="nav-link" th:href="@{/blog}">Blog <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item active " th:if="${session.position == 'contact'}">
							<a class="nav-link" th:href="@{/contact}">Contact <span
									class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item " th:if="${session.position != 'contact'}">
							<a class="nav-link" th:href="@{/contact}">Contact <span
									class="sr-only">(current)</span></a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
</div>


<!--Footer-->
<div th:fragment="footer">
	<div class="container-fluid fh5co_footer_bg pb-3">
		<div class="container animate-box">
			<div class="row">
				<div class="col-12 spdp_right py-5"><img src="/images/white_logo.png" alt="img" class="footer_logo"/>
				</div>
				<div class="clearfix"></div>
				<div class="col-12 col-md-4 col-lg-3">
					<div class="footer_main_title py-3"> About</div>
					<div class="footer_sub_about pb-3"> Welcome to 24 News  – your hub for diverse news and updates.
						We cover a broad spectrum of topics, from current affairs to lifestyle trends and tech highlights.
						Stay informed and engaged with our bite-sized updates.
						Thank you for choosing [Blog Name] for your daily dose of information.
					</div>
					<div class="footer_mediya_icon">
						<div class="text-center d-inline-block"><a class="fh5co_display_table_footer">
							<div class="fh5co_verticle_middle"><i class="fa fa-linkedin"></i></div>
						</a></div>
						<div class="text-center d-inline-block"><a class="fh5co_display_table_footer">
							<div class="fh5co_verticle_middle"><i class="fa fa-google-plus"></i></div>
						</a></div>
						<div class="text-center d-inline-block"><a class="fh5co_display_table_footer">
							<div class="fh5co_verticle_middle"><i class="fa fa-twitter"></i></div>
						</a></div>
						<div class="text-center d-inline-block"><a class="fh5co_display_table_footer">
							<div class="fh5co_verticle_middle"><i class="fa fa-facebook"></i></div>
						</a></div>
					</div>
				</div>
				<div class="col-12 col-md-3 col-lg-2">
					<div class="footer_main_title py-3"> Category</div>
					<ul class="footer_menu">
						<li>
							<a th:href="@{/category/{category} (category = 'Sports')}" class="">
								<i class="fa fa-angle-right"></i>&nbsp;&nbsp; Sports</a>
						</li>
						<li>
							<a th:href="@{/category/{category} (category = 'Technology')}" class="">
								<i class="fa fa-angle-right"></i>&nbsp;&nbsp; Technology
							</a>
						</li>
						<li>
							<a th:href="@{/category/{category} (category = 'Finances')}"  class="">
								<i class="fa fa-angle-right"></i>&nbsp;&nbsp; Finances</a>
						</li>
						<li>
							<a th:href="@{/category/{category} (category = 'Entertainment')}" class="">
								<i class="fa fa-angle-right"></i>&nbsp;&nbsp; Entertainment</a>
						</li>
						<li>
							<a th:href="@{/category/{category} (category = 'Global news')}"  class="">
								<i class="fa fa-angle-right"></i>&nbsp;&nbsp; Global news</a>
						</li>
						<li>
							<a th:href="@{/category/{category} (category = 'Business')}"  class="">
								<i class="fa fa-angle-right"></i>&nbsp;&nbsp; Business</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid fh5co_footer_right_reserved">
		<div class="container">
			<div class="row  ">
				<div class="col-12 col-md-6 py-4 Reserved"> © Copyright 2024, All rights reserved. Design by <a
						href="https://freehtml5.co" title="Free HTML5 Bootstrap templates">FreeHTML5.co</a>.
				</div>
				<div class="col-12 col-md-6 spdp_right py-4">
					<a href="#" class="footer_last_part_menu">Home</a>
					<a th:href="@{/contact}" class="footer_last_part_menu">Contact</a>
			</div>
		</div>
	</div>

</div>